<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bienvenue</title>
	</head>
	<body>
		<h1>Bienvenue
			{{ user.firstName }}
			!</h1>
		<p>Merci de vous être inscrit sur notre site.</p>
		<p>Nous sommes ravis de vous compter parmi nos utilisateurs.</p>

		<p>Cordialement,</p>
		<p>L'équipe de notre site</p>
	</body>
</html>
