{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur {{ status_code }} - Page non trouvée</h1>
    <p>Désolé, la page que vous cherchez n'existe pas ou a été déplacée.</p>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="/">return to the homepage</a>.
    </p>
{% endblock %}